@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HEADER */

.header {
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav__link {
    color: #e5e7eb;
    font-size: 18px;
}
