@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
}

/* HEADER */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav__link {
    color: #e5e7eb;
    font-size: 18px;
}

/* PAGE */

.page__image {
    flex: 1 0 550px;
    color: #e5e7eb88;
    font-size: 18px;
    background-color: #ffffff53;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    margin-top: 150px;
    align-items: center;
    gap: 70px;
}

.page__information {
    flex: 1 1 auto;
}

.page__information *:not(:last-child) {
    margin-bottom: 10px;
}

.page__title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.page__description {
    color: #e5e7eb;
    font-size: 18px;
}

.page__button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    color: #f9faf8;
    background-color: #3882f6;
}
